<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>American Revolution</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
          crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<h1>American patriotic and war songs</h1>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Main Page</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="revolution.html">American Revolution</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="civil_war.html">Civil War</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="wwi.html">WWI</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="wwii.html">WWII</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="modern.html">Modern</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="non_war.html">Non-war songs</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="other.html">Other</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<h2>American Revolution</h2>
<img src="../static/img/revolution.jpg" width="600" height="396" alt="American Revolution">
<p>The American Revolution was an insurrection carried out by 13
    of Great Britain’s North American colonies that began in 1775
    and ended with a peace treaty in 1783. The colonies won political
    independence and went on to form the United States of America. </p>
<h3>Yankee Doodle</h3>
<p>Yankee Doodle went to town riding on a pony, <br>Stuck a feather in his cap and called it
macaroni!<br>Yankee Doodle keep it up, Yankee Doodle dandy! <br> Mind the music
and the step, and with the girls be handy! <br><br>
Father and I went down to camp, along with Captain Gooding; <br>There we saw the men
and boys, as thick as hasty pudding. <br>Repeat Chorus: Yankee Doodle keep it up, Yankee
Doodle dandy! <br>Mind the music and the step, and with the girls be handy! <br><br>
There was Captain Washington, upon a slapping stallion, <br>Giving orders to his men- I
guess there was a million. <br>Yankee Doodle keep it up, Yankee Doodle
dandy! <br>Mind the music and the step, and with the girls be handy! <br><br>
Then the feathers on his hat. They looked so very fine, oh! <br>I wanted desperately to get,
To give my Jemima. <br>Yankee Doodle keep it up, Yankee Doodle dandy! <br>
Mind the music and the step, and with the girls be handy! </p>
</body>
</html>